<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scott and Shelby | <%= full_title(yield(:title)) %></title>


<!--     <!-- Bootstrap Core CSS -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLzfYRezhann90hCLD9QR8z35m--pyDBk&sensor=false"></script>
<!-- Google Analytics -->
<%= render "ga" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <%= render "nav" %>

    <!-- Intro Header -->
    <%= render "header" %>

    <!-- About Section -->
    <%= render "events" %>

    <!-- Download Section -->
    <%= render "download" %>

    <!-- Contact Section -->
    <!--  <%= render "contact" %> -->

    <!-- Guest Info Section -->
    <%= render "guestinfo" %>

    <!-- Break Section -->
    <%= render "break" %>

    <!-- Guest Info Section -->
    <%= render "accomodations" %>

    <!-- Break Section -->
    <%= render "break2" %>

    <!-- Break Section -->
    <%= render "registry" %>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p><h3>September 12th, 2015</h3></p>
        </div>
    </footer>


</body>

</html>
